## import libraries

In [38]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [85]:
import os
import pandas as pd
import numpy as np

path = os.getcwd()
path

'/Users/rubenstuiver/code/rubenstuiver/data-challenges/04-Decision-Science/01-Project-Setup/02-Data-Preparation'

## Create the variable csv_path, which stores the path to your "csv" folder as a string

- Create a relative csv_path

In [86]:
csv_path = '../../data/csv' # Mac OS version
csv_path = '..\\..\\data\\csv' # Windows version
csv_path = os.path.join('..','..','data','csv') # more robust to Linux/OS/Windows discrepencies
csv_path

'../../data/csv'

In [87]:
#check your code 
import pandas as pd
pd.read_csv(os.path.join(csv_path, 'olist_sellers_dataset.csv')).head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

## Create the list file_names containing all csv file names in the csv directory

- and delete all none csv files

this : file_names = os.listdir(csv_path)
del file_names[3]

or:

In [88]:
file_names = [f for f in os.listdir(csv_path) if f.endswith('.csv')]
file_names

['olist_sellers_dataset.csv',
 'product_category_name_translation.csv',
 'olist_orders_dataset.csv',
 'olist_order_items_dataset.csv',
 'olist_customers_dataset.csv',
 'olist_geolocation_dataset.csv',
 'olist_order_payments_dataset.csv',
 'olist_order_reviews_dataset.csv',
 'olist_products_dataset.csv']

file_names = str(file_names).replace("_dataset","")
file_names = str(file_names).replace("olist_","")
file_names = str(file_names).replace(".csv","")
file_names

In [89]:
key_names = [key_name
    .replace('olist_','')
    .replace('_dataset','')
    .replace('.csv','')
    for key_name in file_names]
key_names

['sellers',
 'product_category_name_translation',
 'orders',
 'order_items',
 'customers',
 'geolocation',
 'order_payments',
 'order_reviews',
 'products']

In [90]:
## Create the list of dict key key_names

In [97]:
data = {}
for k,f in zip(key_names, file_names):
    data[k] = pd.read_csv(os.path.join(csv_path, f))
data.keys()

dict_keys(['sellers', 'product_category_name_translation', 'orders', 'order_items', 'customers', 'geolocation', 'order_payments', 'order_reviews', 'products'])

##  Implement the method get_data() in olist/data.py

In [98]:
os.getcwd()

'/Users/rubenstuiver/code/rubenstuiver/data-challenges/04-Decision-Science/01-Project-Setup/02-Data-Preparation'

In [101]:
from nbresult import ChallengeResult
from olist.data import Olist
data = Olist().get_data()
result = ChallengeResult('get_data',
    keys_len=len(data),
    keys=sorted(list(data.keys())),
    columns=sorted(list(data['sellers'].columns))
    )
result.write()
print(result.check())

============================= test session starts ==============================
platform darwin -- Python 3.8.13, pytest-6.2.5, py-1.11.0, pluggy-1.0.0 -- /Users/rubenstuiver/.pyenv/versions/lewagon/bin/python3
cachedir: .pytest_cache
rootdir: /Users/rubenstuiver/code/rubenstuiver/data-challenges/04-Decision-Science/01-Project-Setup/02-Data-Preparation
plugins: anyio-3.4.0
collecting ... collected 3 items

tests/test_get_data.py::TestGetData::test_columns PASSED                 [ 33%]
tests/test_get_data.py::TestGetData::test_keys PASSED                    [ 66%]
tests/test_get_data.py::TestGetData::test_len PASSED                     [100%]

============================== 3 passed in 0.02s ===============================


ðŸ’¯ You can commit your code:

git add tests/get_data.pickle

git commit -m 'Completed get_data step'

git push origin master

In [102]:
from olist.data import Olist
Olist().get_data()['sellers'].head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP